fastapi
uvicorn[standard]
python-multipart
pandas
openpyxl
pypdf
pydantic-settings
groq
motor
pymongo
langchain
langchain-community
langchain-openai
langgraph
langgraph-checkpoint
sentence-transformers
python-dotenv
minio

# Testing dependencies
pytest
pytest-asyncio
pytest-cov
httpx  # for testing FastAPI
pytest-mock
